<!-- layout.njk -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="../../assets/css/spectre.min.css">
  <link rel="stylesheet" href="../../assets/css/spectre-exp.min.css">
</head>
<body>
  {# {% include "partials/header/header.njk" %}
  {% include "partials/navigation/navigation.njk" %} #}


    {% block content %}
    {% endblock %}


  {# {% include "partials/footer/footer.njk" %} #}
  <script src="../../../assets/js/script.min.js"></script>
</body>
</html>