<!-- layout.njk -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="src/assets/css/spectre.min.css">
  <link rel="stylesheet" href="src/assets/css/spectre-exp.min.css">
  <link rel="stylesheet" href="src/assets/css/spectre-icons.css">

</head>
<body>
      <div data-barba="wrapper">
      <div data-barba="container" data-barba-namespace="page-a">
        <h1>Home</h1>
          <div class="container container-xl">
    <!-- {% include "./template-parts/header.njk" %} -->
    {% include "./template-parts/nav.njk" %}
  </div>

    {% block content %}
    {% endblock %}
      </div>
    </div>


  <div class="container container-lg">
    {% include "./template-parts/footer.njk" %}
  </div>

  <script src="../../../src/assets/js/script.min.js"></script>
</body>
</html>