// Layout



.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $layout-spacing;
  padding-right: $layout-spacing;
  width: 100%;

  $grid-spacing: ($layout-spacing / ($layout-spacing * 0 + 1)) * $html-font-size;

	@each $sizeName, $size in $layout-sizes {
    // @include rowClasses($sizeName);
    &.container-#{ $sizeName } {
      max-width: $grid-spacing * 2 + $size;
    }
	}
}

// Responsive breakpoint system
.xs-show,
.sm-show,
.md-show,
.lg-show,
.xl-show {
  display: none !important;
}

// Responsive grid system
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$layout-spacing;
  margin-right: -$layout-spacing;
  background-color: green;

  &.col-gapless {
    margin-left: 0;
    margin-right: 0;

    & > .column {

      padding-left: 0;
      padding-right: 0;
    }
  }
  &.col-oneline {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}

.column {
  // background-color: red;
  flex: 1;
  max-width: 100%;
  padding-left: $layout-spacing;
  padding-right: $layout-spacing;

  &.col-auto {
    flex: none;
  }

  @for $i from 1 through $grid__columns {
    &.col-#{ $i } {
			flex: 0 1 auto;
			width: percentage(1 / $grid__columns) * $i;
		}
  }

  @each $sizeName, $size in $layout-sizes {
    @media (min-width: $size) {
      @for $i from 1 through $grid__columns {
        &.#{ $sizeName }-col-#{ $i } {
          background-color: white;
          flex: 0 1 auto;
          width: percentage(1 / $grid__columns) * $i;
        }
        &.#{ $sizeName }-hide {
          display: none !important;
        }
        &.#{ $sizeName }-show {
          display: block !important;
        }
      }
    }
  }

  &.col-auto {
    flex: 0 0 auto;
    max-width: none;
    width: auto;
  }

  &.col-mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  &.col-ml-auto {
    margin-left: auto;
  }

  &.col-mr-auto {
    margin-right: auto;
  }
}
