.footer {
	height: 100%;
	padding: 80px 0 0;

	&__sub_links {
		display: flex;
		@media (max-width: $size-sm) {
			text-align: center;
			flex-direction: column;
		}
	}

	&__sub_link {
		padding-right: 25px;
	}

	#copyright {
		padding: 40px 0 0;
	}

	.social-share {
		display: flex;
		justify-content: space-between;
	}
}
