.paralax_photography {
	height: 41000px;
	/* foreground (balloons/landscape)*/
	#parallax-bg-1 {
		// pointer-events: none;
		position: fixed;
		width: 1200px;
		top: 0;
		left: 50%;
		margin-left: -600px;
		z-index: 1;
	}
	/* background middle layer*/
	#parallax-bg-2 {
		// pointer-events: none;
		position: fixed;
		width: 1200px;
		top: 300;
		left: 50%;
		margin-left: -600px;
		z-index: 2;
	}
	/* background layer */
	#parallax-bg-3 {
		// pointer-events: none;
		position: fixed;
		width: 960px;
		top: 0;
		left: 50%;
		margin-left: -470px;
		z-index: 3;
	}
	/* foreground */
	#parallax-bg-3 div {
		// pointer-events: none;
		background-repeat: no-repeat;
		position: absolute;
		display: block;
		overflow: hidden;
	}

	#bg-3-1 {
		// pointer-events: none;
		background: url('../img/photography/blacker/photography_blackerthandays_001.jpg');
		width: 629px;
		height: 757px;
		top: 800px;
		transition: all 1s ease-out;
		&:hover {
			transform: scale(1.4);
			border-bottom: 4px solid black;
			border-right: 14px solid black;
			z-index: 400;
		}

		a {
			display: flex;
			height: 100%;
			color: white;
			transition: all 1s cubic-bezier(0.47, 0, 0.745, 0.715);

			&:hover {
				font-size: 8em;
				color: black;
				background-color: yellow;
				opacity: 1;
			}
		}
	}

	#bg-3-2 {
		// pointer-events: none;
		// background: url("http://schulzmarcel.de/x/drafts/parallax/img/balloon2.png");
		// background: url("../img/paralax_about/pyramidpsd.png");
		background: url('../img/photography/blacker/photography_blackerthandays_001.jpg');
		width: 803px;
		height: 583px;
		top: 1050px;
		left: 70px;
		transition: all 1s ease-out;
		&:hover {
			transform: scale(1.4);
			border-bottom: 4px solid black;
			border-right: 14px solid black;
			z-index: 400;
		}
		a {
			display: flex;
			height: 100%;
			color: white;
			transition: all 1s cubic-bezier(0.47, 0, 0.745, 0.715);

			&:hover {
				font-size: 8em;
				color: black;
				background-color: yellow;
				opacity: 1;
			}
		}
	}
	#bg-3-3 {
		// background: url("http://schulzmarcel.de/x/drafts/parallax/img/balloon3.png");
		// background: url("../img/paralax_about/markus_tag.png");
		background: url('../img/photography/blacker/photography_blackerthandays_001.jpg');
		width: 546px;
		height: 713px;
		top: 1800px;
		right: 140px;
		transition: all 1s ease-out;
		&:hover {
			transform: scale(1.4);
			border-bottom: 4px solid black;
			border-right: 14px solid black;
			z-index: 400;
		}
		a {
			display: flex;
			height: 100%;
			color: white;
			transition: all 1s cubic-bezier(0.47, 0, 0.745, 0.715);

			&:hover {
				font-size: 8em;
				color: black;
				background-color: yellow;
				opacity: 1;
			}
		}
	}
	#bg-3-4 {
		// background: url("http://schulzmarcel.de/x/drafts/parallax/img/ground.png");
		// background: url("../img/paralax/blink_1.png");
		// background: url("../img/paralax_about/metal_slug_002.png");
		// background: url("../img/photography/blacker/photography_blackerthandays_001.jpg");
		background: url('../img/photography/blacker/photography_blackerthandays_006.jpg');
		width: 804px;
		height: 484px;
		top: 2800px;
		right: 300px;
		transition: all 1s ease-out;
		&:hover {
			transform: scale(1.4);
			border-bottom: 4px solid black;
			border-right: 14px solid black;
			z-index: 400;
		}
		a {
			display: flex;
			height: 100%;
			color: white;
			transition: all 1s cubic-bezier(0.47, 0, 0.745, 0.715);

			&:hover {
				font-size: 8em;
				color: black;
				background-color: yellow;
				opacity: 1;
			}
		}
	}
	#bg-3-5 {
		// pointer-events: none;
		// background: url("../img/paralax/blink_1.png");
		// background: url("../img/photography/blacker/photography_blackerthandays_001.jpg");
		width: 629px;
		height: 757px;
		top: 2100px;
		transition: all 1s ease-out;
		&:hover {
			transform: scale(1.4);
			border-bottom: 4px solid black;
			border-right: 14px solid black;
			z-index: 400;
		}
		a {
			display: flex;
			height: 100%;
			color: white;
			transition: all 1s cubic-bezier(0.47, 0, 0.745, 0.715);

			&:hover {
				font-size: 8em;
				color: black;
				background-color: yellow;
				opacity: 1;
			}
		}
	}
	#bg-3-6 {
		// pointer-events: none;
		// background: url("http://schulzmarcel.de/x/drafts/parallax/img/balloon2.png");
		// background: url("../img/paralax_about/pyramidpsd.png");
		// background: url("../img/photography/blacker/photography_blackerthandays_001.jpg");
		width: 803px;
		height: 583px;
		top: 3050px;
		left: 70px;
		transition: all 1s ease-out;
		&:hover {
			transform: scale(1.4);
			border-bottom: 4px solid black;
			border-right: 14px solid black;
			z-index: 400;
		}
	}
	#bg-3-7 {
		// background: url("http://schulzmarcel.de/x/drafts/parallax/img/balloon3.png");
		// background: url("../img/paralax_about/markus_tag.png");
		// background: url("../img/photography/blacker/photography_blackerthandays_001.jpg");
		width: 546px;
		height: 713px;
		top: 4800px;
		right: 140px;
		transition: all 1s ease-out;
		&:hover {
			transform: scale(1.4);
			border-bottom: 4px solid black;
			border-right: 14px solid black;
			z-index: 400;
		}
	}
	#bg-3-8 {
		// background: url("http://schulzmarcel.de/x/drafts/parallax/img/ground.png");
		// background: url("../img/paralax/blink_1.png");
		// background: url("../img/paralax_about/metal_slug_002.png");
		// background: url("../img/photography/blacker/photography_blackerthandays_001.jpg");
		// background: url("../img/photography/blacker/photography_blackerthandays_001.jpg");
		width: 804px;
		height: 684px;
		top: 5800px;
		right: 30px;
		transition: all 1s ease-out;
		&:hover {
			transform: scale(1.4);
			border-bottom: 4px solid black;
			border-right: 14px solid black;
			z-index: 400;
		}
		a {
			display: flex;
			height: 100%;
			color: white;
			transition: all 1s cubic-bezier(0.47, 0, 0.745, 0.715);

			&:hover {
				font-size: 8em;
				color: black;
				background-color: yellow;
				opacity: 1;
			}
		}
	}
	/* middle layer clouds */
	#parallax-bg-2 div {
		// background: url("http://schulzmarcel.de/x/drafts/parallax/img/cloud-lg1.png");
		// background: url("../img/paralax/cloud_small_2.png");
		// background: url("../img/photography/blacker/photography_blackerthandays_001.jpg");
		background-repeat: no-repeat;
		position: absolute;
		display: block;
		width: 488px;
		height: 238px;
		overflow: hidden;
		transition: all 1s ease-out;
		&:hover {
			transform: scale(1.4);
			border-bottom: 4px solid black;
			border-right: 14px solid black;
			z-index: 400;
		}
	}

	#bg-2-1 {
		// background: url("../img/photography/blacker/photography_blackerthandays_006.jpg");
		top: 100px;
		left: -310px;
		transition: all 1s ease-out;
		&:hover {
			transform: scale(1.4);
			border-bottom: 4px solid black;
			border-right: 14px solid black;
			z-index: 400;
		}
	}
	#bg-2-2 {
		// background: url("../img/photography/blacker/photography_blackerthandays_007.jpg");
		top: 270px;
		right: -70px;
	}
	#bg-2-3 {
		// background: url("../img/photography/blacker/photography_blackerthandays_011.jpg");
		top: 870px;
		left: -300px;
		transition: all 1s ease-out;
		&:hover {
			transform: scale(1.4);
			border-bottom: 4px solid black;
			border-right: 14px solid black;
			z-index: 400;
		}
	}
	#bg-2-4 {
		// background: url("../img/photography/blacker/photography_blackerthandays_016.jpg");
		top: 1120px;
		right: -130px;
	}
	#bg-2-5 {
		// background: url("../img/photography/blacker/photography_blackerthandays_002.jpg");
		top: 1620px;
		left: 140px;
	}
	#bg-2-6 {
		// background: url("../img/photography/blacker/photography_blackerthandays_004.jpg");
		top: 720px;
		left: 340px;
		transition: all 1s ease-out;
		&:hover {
			transform: scale(1.4);
			border-bottom: 4px solid black;
			border-right: 14px solid black;
			z-index: 400;
		}
	}
	#bg-2-7 {
		// background: url("../img/photography/blacker/photography_blackerthandays_008.jpg");
		top: 3100px;
		left: -310px;
	}
	#bg-2-8 {
		// background: url("../img/photography/blacker/photography_blackerthandays_006.jpg");
		top: 3270px;
		right: -70px;
	}
	#bg-2-9 {
		// background: url("../img/photography/blacker/photography_blackerthandays_005.jpg");
		top: 3870px;
		left: -300px;
	}
	#bg-2-10 {
		// background: url("../img/photography/blacker/photography_blackerthandays_003.jpg");
		top: 4120px;
		right: -130px;
	}
	#bg-2-11 {
		// background: url("../img/photography/blacker/photography_blackerthandays_010.jpg");
		top: 4620px;
		left: 140px;
	}
	#bg-2-12 {
		// background: url("../img/photography/blacker/photography_blackerthandays_011.jpg");
		top: 4720px;
		left: 340px;
	}

	/*background layer clouds */
	#parallax-bg-1 div {
		background-repeat: no-repeat;
		position: absolute;
		display: block;
		min-width: 488px;
		height: 838px;
		overflow: hidden;
	}

	#bg-1-1 {
		// background: url("../img/paralax_about/morley_portrait-tags-tag.png");
		// background: url("../img/photography/blacker/photography_blackerthandays_009.jpg");
		width: 800px;
		top: 600px;
		left: 15px;
	}
	#bg-1-2 {
		// background: url("http://schulzmarcel.de/x/drafts/parallax/img/cloud-lg2.png");
		// background: url("../img/paralax/cloud_small_2.png");
		// background: url("../img/photography/blacker/photography_blackerthandays_008.jpg");
		top: 420px;
		left: 0px;
	}
	#bg-1-3 {
		// background: url("../img/paralax/cloud_small_1.png");
		// background: url("../img/photography/blacker/photography_blackerthandays_007.jpg");
		top: 850px;
		right: -290px;
	}
	#bg-1-4 {
		// background: url("../img/paralax/Unbenannt-2-small.png");
		// background: url("../img/paralax_about/perspective.png");
		// background: url("../img/photography/blacker/photography_blackerthandays_006.jpg");
		top: 1350px;
		width: 803px;
		height: 583px;
		right: 10px;
	}
	#bg-1-5 {
		// background: url("http://schulzmarcel.de/x/drafts/parallax/img/cloud-lg2.png");
		// background: url("../img/paralax/cloud_small_1.png");
		// background: url("../img/paralax/abold_1.png");
		// background: url("../img/photography/blacker/photography_blackerthandays_005.jpg");
		width: 1403px;
		height: 583px;
		top: 1200px;
		left: -200px;
	}
	#bg-1-6 {
		// background: url("http://schulzmarcel.de/x/drafts/parallax/img/cloud-lg2.png");
		// background: url("../img/paralax/cloud_small_1.png");
		// background: url("../img/paralax/abold_1.png");
		// background: url("../img/photography/blacker/photography_blackerthandays_004.jpg");
		width: 1403px;
		height: 583px;
		top: 1700px;
		right: 200px;
	}
	#bg-1-7 {
		// background: url("http://schulzmarcel.de/x/drafts/parallax/img/cloud-lg2.png");
		// background: url("../img/paralax/cloud_small_1.png");
		// background: url("../img/paralax/abold_1.png");
		// background: url("../img/photography/blacker/photography_blackerthandays_003.jpg");
		width: 1403px;
		height: 583px;
		top: 2000px;
		left: 200px;
	}
	#bg-1-8 {
		// background: url("http://schulzmarcel.de/x/drafts/parallax/img/cloud-lg2.png");
		// background: url("../img/paralax/cloud_small_1.png");
		// background: url("../img/paralax/abold_1.png");
		// background: url("../img/photography/blacker/photography_blackerthandays_002.jpg");
		width: 1403px;
		height: 583px;
		top: 1200px;
		left: -200px;
	}
	#bg-1-9 {
		// background: url("http://schulzmarcel.de/x/drafts/parallax/img/cloud-lg2.png");
		// background: url("../img/paralax/cloud_small_1.png");
		// background: url("../img/paralax/abold_1.png");
		// background: url("../img/photography/blacker/photography_blackerthandays_001.jpg");
		width: 1403px;
		height: 583px;
		top: 2900px;
		right: -200px;
	}
}
