{% set body_class = "build" %}
{% import "./components/cards.njk" as card %}
{% extends "layout.njk" %}

{% block content %}
{% include "./content/about-tools.html" %}
<!-- {% include "./content/paralax_001.html" %} -->
{% endblock %}