{% set body_class = "build" %}
{% import "./components/cards.njk" as card %}
{% extends "layout.njk" %}

{% block content %}
{% include "./content/home-hero_001.html" %}
{% include "./content/home-hero-teaser.html" %}
{% include "./content/home-about.html" %}
{% include "./content/home-how.html" %}
{% include "./content/home-dna.html" %}
{% include "./content/home-portfolio.html" %}
{% include "./content/home-teaser.html" %}

{% endblock %}