{% set body_class = "home" %}
{% set site_class = "site" %}
{% set page = "page.html" %}
{% extends "layout.njk" %}

{% block content %}


  {% include "./content/layout_index.html" %}
  {% include "./content/layout_slider.html" %}


{% endblock %}