{% extends "layout3.njk" %}

{% block content %}
<div class="off-canvas">
  <!-- off-screen toggle button -->
  <a class="off-canvas-toggle btn btn-primary btn-action" href="#sidebar-id">
    <i class="icon icon-menu"></i>
  </a>

  <div id="sidebar-id" class="off-canvas-sidebar active ">
    <!-- off-screen sidebar -->

  </div>

  <a class="off-canvas-overlay" href="#close"></a>

  <div class="off-canvas-content">
    <!-- off-screen content -->

    <div class="container grid-xl">
      <div class="columns">
        <div class="column col-6">col-6</div>
        <div class="column col-3">col-3</div>
        <div class="column col-2">col-2</div>
        <div class="column col-1">col-1</div>
      </div>
    </div>

        <div class="container grid-lg" id="responsive">
      <h3 class="s-title">Responsive<a class="anchor" href="#responsive" aria-hidden="true">#</a></h3>
      <p>Spectre provides a neat responsive layout grid system and responsive visibility utilities.</p>

      <div class="columns">
        <div class="column col-10 col-lg-8 col-md-6 col-sm-4">
          <div class="bg-gray docs-block">
            <div class="text-primary">col-10</div>
            <div class="text-dark hide-lg">col-lg-8</div>
            <div class="text-primary show-lg">col-lg-8</div>
            <div class="text-dark hide-md">col-md-6</div>
            <div class="text-primary show-md">col-md-6</div>
            <div class="text-dark hide-sm">col-sm-4</div>
            <div class="text-primary show-sm">col-sm-4</div>
          </div>
        </div>

        <div class="column col-2 col-lg-4 col-md-6 col-sm-8">
          <div class="bg-gray docs-block">
            <div class="text-primary">col-2</div>
            <div class="text-dark hide-lg">col-lg-4</div>
            <div class="text-primary show-lg">col-lg-4</div>
            <div class="text-dark hide-md">col-md-6</div>
            <div class="text-primary show-md">col-md-6</div>
            <div class="text-dark hide-sm">col-sm-8</div>
            <div class="text-primary show-sm">col-sm-8</div>
          </div>
        </div>

      </div>

      <div class="columns">
        <div class="column col-xs-6">col-xs-6</div>
        <div class="column col-xs-3">col-xs-3</div>
        <div class="column col-xs-3">col-xs-3</div>
      </div>

    </div>

  </div>
</div>


<div class="container grid-xl">
  <div class="columns">
    <div class="column col-6">col-6</div>
    <div class="column col-3">col-3</div>
    <div class="column col-2">col-2</div>
    <div class="column col-1">col-1</div>
  </div>
</div>


<div class="off-canvas-content">
  <div class="docs-content" id="content">

    <div class="container grid-lg" id="responsive">
      <h3 class="s-title">Responsive<a class="anchor" href="#responsive" aria-hidden="true">#</a></h3>
      <p>Spectre provides a neat responsive layout grid system and responsive visibility utilities.</p>

      <div class="columns">
        <div class="column col-10 col-lg-8 col-md-6 col-sm-4">
          <div class="bg-gray docs-block">
            <div class="text-primary">col-10</div>
            <div class="text-dark hide-lg">col-lg-8</div>
            <div class="text-primary show-lg">col-lg-8</div>
            <div class="text-dark hide-md">col-md-6</div>
            <div class="text-primary show-md">col-md-6</div>
            <div class="text-dark hide-sm">col-sm-4</div>
            <div class="text-primary show-sm">col-sm-4</div>
          </div>
        </div>

        <div class="column col-2 col-lg-4 col-md-6 col-sm-8">
          <div class="bg-gray docs-block">
            <div class="text-primary">col-2</div>
            <div class="text-dark hide-lg">col-lg-4</div>
            <div class="text-primary show-lg">col-lg-4</div>
            <div class="text-dark hide-md">col-md-6</div>
            <div class="text-primary show-md">col-md-6</div>
            <div class="text-dark hide-sm">col-sm-8</div>
            <div class="text-primary show-sm">col-sm-8</div>
          </div>
        </div>

      </div>

      <div class="columns">
        <div class="column col-xs-6">col-xs-6</div>
        <div class="column col-xs-3">col-xs-3</div>
        <div class="column col-xs-3">col-xs-3</div>
      </div>

    </div>
  </div>
</div>
{% endblock %}