{% set body_class = "build" %}
{% import "./components/cards.njk" as card %}
{% extends "layout.njk" %}

{% block content %}
{% include "./content/photography_portrait.html" %}
{% include "./content/paralax_photography_portrait.html" %}
{% endblock %}