<div class="navigation">
	<nav id="nav" class="navbar">
		<div class="container container--nav container-xl">
			<div class="navbar__brand">
				<h2>Markus Morley</h2>
			</div>

			<div class="navbar__links">
				<span>
					<a href="">About</a>
				</span>
				<span>
					<a href="">Portfolio</a>
				</span>
			</div>
		</div>

		<div class="overlay"></div>
	</nav>
</div>
