<!-- mobile-menu Fullwidth no container wrap-->
<nav class="mobile-menu" id="home-link">
  <label for="mobile-menu__show-menu" class="mobile-menu__show-menu">
    <i class="icon text-dark icon-menu"></i>
  </label>
  <input type="checkbox" id="mobile-menu__show-menu">
  <ul class="mobile-menu__menu">
    <li>
     <a href="/" class="nav-home active">Markus Morley</a>
    </li>
    <li>
      <a href="/blog.html" class="nav-blog">Blog</a>
    </li>
    <li>
      <a href="/about.html" class="nav-about">About</a>
    </li>
    <li>
     <a href="/portfolio.html" class="nav-portfolio">Portfolio</a>
    </li>
    <li>
     <a href="/resources.html" class="nav-portfolio">Resources</a>
    </li>
  </ul>
</nav>